<h1>updated</h1>
<h2>Changed</h2>
<div id="bg-city">
    <div id="nav-bar">
           <div id="nav-top">
                   <div id="info">
                       <ul>
                           <li><i class="fa fa-phone"></i><span style="margin: 10px;">++00 (123) 456 7890</span></li>
                           <li><i class="fa fa-envelope"></i><span style="margin: 10px;">INFO@DOMAIN.COM</span></li>
                       </ul>
                   </div>
                   <div id="config">
                       <ul>
                           <li><i class="fa fa-home"></i></li>
                           <li><i class="fa fa-life-ring"></i></li>
                           <li><i class="fa fa-sign-in"></i></li>
                           <li><i class="fa fa-american-sign-language-interpreting"></i></li>
                       </ul>
                   </div>
           </div>
           <div id="nav-main">
                   <div><h1>BESLOOR</h1></div>
                   <div id="nav-data">
                     <a href="#">HOME</a>
                           <div class="dropdown">
                               <button class="dropbtn">
                                   <i class="fa fa-caret-down"></i>
                                   PAGES
                               </button>
                               <div class="dropdown-content">
                                   <a href="#">Gallery</a>
                                   <a href="#">Full Width</a>
                                   <a href="#">SideBar Left</a>
                                   <a href="#">SideBar Right</a>
                                   <a href="#">Basic Grid</a>
                                   <a href="#">Font Icons</a>
                               </div>
                           </div>
                     <a href="#">LINK1</a>
                     <a href="#">LINK2</a>
                     <a href="#">LINK3</a>
                     <a href="#">LONG LINK TEXT</a>                            
                   </div>
           </div>
           <div class="centered-text">
               <h1>Vestibulum Metus Semper</h1>
               <!-- <p class="hor-line"></p> -->
               <hr class="hor-line">
               <p style="padding: 0 30%;">Mattis elit ut interdum risus id luctus consectetuer velit neque ornare quam at ornare nisi velit nec turpis.</p>
               <h5>MORBI ACCUMSAN LIGULA</h5>
           </div>
    </div>
</div>
<div class="aliquim" style="text-align: center;">
   <h1>Aliquam Erat Volutpat</h1>
   <hr class="hor-line">
</div>
<div class="Aliquam-Erat">
   <div class="row">
      <div class="col-3">
           <p>
"Long ago, there lived a king who was called King Ring because he wore many rings and chains. King Ring was very kind and generous to his people and he always gifted away his rings and chains to any needy person who visited his castle.",

           </p>
      </div>
      <div class="col-3">
          <p>
"Long ago, there lived a king who was called King Ring because he wore many rings and chains. King Ring was very kind and generous to his people and he always gifted away his rings and chains to any needy person who visited his castle.",

          </p>
           <!-- <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
           <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
           <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
           <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p> -->
      </div>
      <div class="col-3">
          <p>
"Long ago, there lived a king who was called King Ring because he wore many rings and chains. King Ring was very kind and generous to his people and he always gifted away his rings and chains to any needy person who visited his castle.",

          </p>
           <!-- <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
           <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
           <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
           <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p> -->
      </div>
      <div class="col-3">
          <p>
"Long ago, there lived a king who was called King Ring because he wore many rings and chains. King Ring was very kind and generous to his people and he always gifted away his rings and chains to any needy person who visited his castle.",

          </p>
           <!-- <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
           <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
           <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p>
           <p>rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr</p> -->
      </div>
   </div>
</div>
<br><br><br><br><br><br><br><br><br>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">