.bgcolr{
    background-color: sandybrown;
}

#bg-city{
    background-image: url("E:\Izzu's\Beslor\city_wall.jpg");
    /* background-image: url(""); */

    background-color: #cccccc;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 80px 30px;
  }
  
  #info ul li{
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    color: #584444;
  }
  
  #config ul li{
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 10px; 
    color:#584444;
  }
  
  #info ul li:first-child{
    margin-right: 20px;
  }
  
  #info ul{
  display: flex;
  padding: 0;
  }
  
  #config ul{
  display: flex;
  }
  
  #nav-top{
    display: flex;
    justify-content: space-between;
  }
  
  #nav-main{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid burlywood;
    border-top: 1px solid burlywood;
    padding: 0 15px;
  }
  
  #nav-data {
    padding-top: 30px;
    display: flex;
  }
  
  #nav-data a{
    padding-left: 20px;
    text-decoration: none;
    color: white;
  }
  .dropdown-content{
    display: none;
    position:absolute;
    background-color: #5a9e6b;
    margin: 19px 0 0 10px;
    min-width: 160px; 
  }
  
  .dropdown-content a{
  float: none;
  display: block;
  padding: 10px 16px;
  text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: yellowgreen;
  }
  
  #nav-data a:hover, .dropdown:hover .dropbtn{
    color: #5a9e6b;
    cursor: pointer;
  }
  
  .dropdown .dropbtn{
    border: none;
    outline: none;
    background-color: inherit;
    font-family: sans-serif;
    padding: 0 0 0 20px;
    color: white;
  }
  
  .dropdown:hover .dropdown-content{
    display:block;
  }
  
  .centered-text .hor-line{
      width: 14%;
      border: 2px solid #df781a;
      border-radius: 15px;
  }
  
  .centered-text{
    text-align: center;
    margin-top: 185px;
    color: white;
  }
  
  .centered-text h1:first-child{
    font-size: 65px;
    margin: 0;
  }
  
  .centered-text p{
    font-size: 18px;
  }
  
  .centered-text h5{
    margin: 50px 41% 0 41%;
    background-color: #df781a;
    padding: 12px 0 12px 0;
  }
  
  .centered-text h5:hover{
    background-color: #2d406e;
    border: 1px solid whitesmoke;
  }
  
  .aliquim .hor-line{
    width: 5.5%;
    border: 3px solid #df781a;
    border-radius: 3px;
  }
  
  .aliquim h1{
    margin: 70px 0 0 0;
  }
  
  
  #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
  .Aliquam-Erat div div {
    text-align: center;
  }
  .Aliquam-Erat div div p {
    padding: 0px 30px;
  }